datafactorytest-jdmb/PartialArmTemplates/ArmTemplate_10_26_2019_23_46_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactorytest-jdmb"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_LoadFile_PR_Fact_Staff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Log Inicio PR_Fact_Staff",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
							"storedProcedureParameters": {
								"AMBIT": {
									"value": {
										"value": "@pipeline().parameters.pLog_AMBIT",
										"type": "Expression"
									},
									"type": "String"
								},
								"ENTRY": {
									"value": {
										"value": "@variables('vLog_ENTRY')",
										"type": "Expression"
									},
									"type": "String"
								},
								"OUT": {
									"value": {
										"value": "@variables('vLog_OUT')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PROCNAME": {
									"value": {
										"value": "@variables('vLog_PROCNAME')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RESULT_DS": {
									"value": "Inicio Pipeline",
									"type": "String"
								},
								"RESULT_OK_KO": {
									"value": "1",
									"type": "Int32"
								},
								"STEP": {
									"value": "100",
									"type": "Int32"
								},
								"ID_PIPELINE": {
									"value": "@pipeline().RunId",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "connecttosql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Fin KO PR_Fact_Staff",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File To Failed Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
							"storedProcedureParameters": {
								"AMBIT": {
									"value": {
										"value": "@pipeline().parameters.pLog_AMBIT",
										"type": "Expression"
									},
									"type": "String"
								},
								"ENTRY": {
									"value": {
										"value": "@variables('vLog_ENTRY')",
										"type": "Expression"
									},
									"type": "String"
								},
								"OUT": {
									"value": {
										"value": "@variables('vLog_OUT')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PROCNAME": {
									"value": {
										"value": "@variables('vLog_PROCNAME')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RESULT_DS": {
									"value": "Fin Pipeline KO",
									"type": "String"
								},
								"RESULT_OK_KO": {
									"value": "0",
									"type": "Int32"
								},
								"STEP": {
									"value": "110",
									"type": "Int32"
								},
								"ID_PIPELINE": {
									"value": "@pipeline().RunId",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "connecttosql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get NameFile PR_Fact_Staff",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Log Inicio PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DataLake_ListFiles",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "Log Fin OK PR_Fact_Staff",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
							"storedProcedureParameters": {
								"AMBIT": {
									"value": {
										"value": "@pipeline().parameters.pLog_AMBIT",
										"type": "Expression"
									},
									"type": "String"
								},
								"ENTRY": {
									"value": {
										"value": "@variables('vLog_ENTRY')",
										"type": "Expression"
									},
									"type": "String"
								},
								"OUT": {
									"value": {
										"value": "@variables('vLog_OUT')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PROCNAME": {
									"value": {
										"value": "@variables('vLog_PROCNAME')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RESULT_DS": {
									"value": "Fin Pipeline OK",
									"type": "String"
								},
								"RESULT_OK_KO": {
									"value": "1",
									"type": "Int32"
								},
								"STEP": {
									"value": "110",
									"type": "Int32"
								},
								"ID_PIPELINE": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "connecttosql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEach PR_Fact_Staff",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter PR_Fact_Staff').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Check FileName Already PR_Fact_Staff",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set FileName PR_Fact_Staff",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderStoredProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINE_FILE_LOG_INSERT]",
											"storedProcedureParameters": {
												"FileName": {
													"type": "String",
													"value": {
														"value": "@variables('vFileNameCurrent')",
														"type": "Expression"
													}
												},
												"Proc": {
													"type": "String",
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													}
												},
												"ID_PIPELINE": {
													"type": "String",
													"value": "@pipeline().RunId"
												}
											}
										},
										"dataset": {
											"referenceName": "SQLCheck_FileName",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Set FileName PR_Fact_Staff",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFileNameCurrent",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy_File_ToSQL PR_Fact_Staff",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Check FileName Already PR_Fact_Staff",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('Check FileName Already PR_Fact_Staff').output.firstRow.Result",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "LOG No Files PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "File To Processed_copy Fichero ya procesado",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": {
																"value": "@concat('Fichero ya procesado: ', variables('vFileNameCurrent'),', Se mueve a la carpeta Processed')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "1",
															"type": "Int32"
														},
														"STEP": {
															"value": "300",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": "@pipeline().RunId",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "File To Processed_copy Fichero ya procesado",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_MoveFile",
														"type": "PipelineReference"
													},
													"parameters": {
														"sFolderOrig": "FromsFTP",
														"sFileNameOrig": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														},
														"sFolderDest": "Processed",
														"sFileNameDest": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy To SQL PR_Fact_Staff",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Log Inicio Copia PR_Fact_Staff",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "/__"
													},
													{
														"name": "Destination",
														"value": "__"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureDataLakeStoreSource",
														"recursive": true
													},
													"sink": {
														"type": "SqlSink",
														"writeBatchSize": 10000,
														"preCopyScript": "TRUNCATE TABLE [PEOPLE_REVIEW].[STG_PR_FACT_STAFF]",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"dataIntegrationUnits": 0,
													"translator": {
														"type": "TabularTranslator",
														"columnMappings": {
															"Data_Load_Date": "Data_Load_Date",
															"Period": "Period",
															"Data_Source": "Data_Source",
															"Employee_ID": "Employee_ID",
															"Gender_ID": "Gender_ID",
															"Birth_Date": "Birth_Date",
															"Position": "Position",
															"Prof_Category_ID": "Prof_Category_ID",
															"Contract_Type_ID": "Contract_Type_ID",
															"Hire_Date": "Hire_Date",
															"Employment_Status_ID": "Employment_Status_ID",
															"FTE": "FTE",
															"Real_Hour": "Real_Hour",
															"Theorical_Hour": "Theorical_Hour",
															"Leaving_Date": "Leaving_Date",
															"Leave_Reason_ID": "Leave_Reason_ID",
															"Leave_Type_ID": "Leave_Type_ID",
															"International_Assigment": "International_Assigment",
															"Type_of_Assigment_ID": "International_Assigment_Type_ID",
															"International_Asgm_Start Date": "International_Asgm_Start_Date",
															"Home_Country_ID": "Home_Country_ID",
															"Host_Country_ID": "Host_Country_ID",
															"Destination_Legal_Entity_ID": "Destination_Legal_Entity_ID",
															"Active_ID": "Active_ID"
														}
													}
												},
												"inputs": [
													{
														"referenceName": "PR_Fact_Staff_Source_Lake",
														"type": "DatasetReference",
														"parameters": {
															"NameFile": {
																"value": "@variables('vFileNameCurrent')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "PR_Fact_Staff_Destination_SQL",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "Log OK PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "File To Processed",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": {
																"value": "@concat('Fin del proceso de copia OK: ',string(activity('Copy To SQL PR_Fact_Staff').output))",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "1",
															"type": "Int32"
														},
														"STEP": {
															"value": "220",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Log KO PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "File To FailedLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": {
																"value": "@concat('Fin del proceso de copia ERROR: ',string(activity('Copy To SQL PR_Fact_Staff').output))",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "0",
															"type": "Int32"
														},
														"STEP": {
															"value": "220",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": "@pipeline().RunId",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Log Inicio Copia PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": "Inicio proceso de copia",
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "1",
															"type": "Int32"
														},
														"STEP": {
															"value": "200",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": "@pipeline().RunId",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "PL_FEED__PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy To SQL PR_Fact_Staff",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[PL_FEED_PR_Fact_Staff]",
													"storedProcedureParameters": {
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "File To Processed",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "PL_FEED__PR_Fact_Staff",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_MoveFile",
														"type": "PipelineReference"
													},
													"parameters": {
														"sFolderOrig": "FromsFTP",
														"sFileNameOrig": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														},
														"sFolderDest": "Processed",
														"sFileNameDest": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "File To FailedLoad",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Copy To SQL PR_Fact_Staff",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_MoveFile",
														"type": "PipelineReference"
													},
													"parameters": {
														"sFolderOrig": "FromsFTP",
														"sFileNameOrig": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														},
														"sFolderDest": "FailedLoad",
														"sFileNameDest": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Filter PR_Fact_Staff",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get NameFile PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get NameFile PR_Fact_Staff').output.childitems",
								"type": "Expression"
							},
							"condition": {
								"value": "@greaterOrEquals(indexof(item().name,'BRIDGE_PRBI_STAFF'),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "File To Failed Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach PR_Fact_Staff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_MoveFile",
								"type": "PipelineReference"
							},
							"parameters": {
								"sFolderOrig": "FromsFTP",
								"sFileNameOrig": {
									"value": "@variables('vFileNameCurrent')",
									"type": "Expression"
								},
								"sFolderDest": "FailedLoad",
								"sFileNameDest": {
									"value": "@variables('vFileNameCurrent')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"pLog_AMBIT": {
						"type": "String",
						"defaultValue": "OBRA"
					}
				},
				"variables": {
					"vLog_PROCNAME": {
						"type": "String",
						"defaultValue": "pl_LoadFile_PR_Fact_Staff"
					},
					"vLog_ENTRY": {
						"type": "String",
						"defaultValue": "File_PR_Fact_Staff"
					},
					"vLog_OUT": {
						"type": "String"
					},
					"vFileNameCurrent": {
						"type": "String",
						"defaultValue": "PR_Fact_Staff"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}