pipeline/pl_LoadFile_PR_Fact_Staff.json
{
	"name": "pl_LoadFile_PR_Fact_Staff",
	"properties": {
		"activities": [
			{
				"name": "Log Inicio PR_Fact_Staff",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
					"storedProcedureParameters": {
						"AMBIT": {
							"value": {
								"value": "@pipeline().parameters.pLog_AMBIT",
								"type": "Expression"
							},
							"type": "String"
						},
						"ENTRY": {
							"value": {
								"value": "@variables('vLog_ENTRY')",
								"type": "Expression"
							},
							"type": "String"
						},
						"OUT": {
							"value": {
								"value": "@variables('vLog_OUT')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PROCNAME": {
							"value": {
								"value": "@variables('vLog_PROCNAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_DS": {
							"value": "Inicio Pipeline",
							"type": "String"
						},
						"RESULT_OK_KO": {
							"value": "1",
							"type": "Int32"
						},
						"STEP": {
							"value": "1",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "connecttosql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Fin KO PR_Fact_Staff",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "File To Failed Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
					"storedProcedureParameters": {
						"AMBIT": {
							"value": {
								"value": "@pipeline().parameters.pLog_AMBIT",
								"type": "Expression"
							},
							"type": "String"
						},
						"ENTRY": {
							"value": {
								"value": "@variables('vLog_ENTRY')",
								"type": "Expression"
							},
							"type": "String"
						},
						"OUT": {
							"value": {
								"value": "@variables('vLog_OUT')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PROCNAME": {
							"value": {
								"value": "@variables('vLog_PROCNAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_DS": {
							"value": "Fin Pipeline KO",
							"type": "String"
						},
						"RESULT_OK_KO": {
							"value": "0",
							"type": "Int32"
						},
						"STEP": {
							"value": "100",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "connecttosql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get NameFile PR_Fact_Staff",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Log Inicio PR_Fact_Staff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLake_ListFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Log Fin OK PR_Fact_Staff",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach PR_Fact_Staff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
					"storedProcedureParameters": {
						"AMBIT": {
							"value": {
								"value": "@pipeline().parameters.pLog_AMBIT",
								"type": "Expression"
							},
							"type": "String"
						},
						"ENTRY": {
							"value": {
								"value": "@variables('vLog_ENTRY')",
								"type": "Expression"
							},
							"type": "String"
						},
						"OUT": {
							"value": {
								"value": "@variables('vLog_OUT')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PROCNAME": {
							"value": {
								"value": "@variables('vLog_PROCNAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_DS": {
							"value": "Fin Pipeline OK",
							"type": "String"
						},
						"RESULT_OK_KO": {
							"value": "1",
							"type": "Int32"
						},
						"STEP": {
							"value": "100",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "connecttosql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach PR_Fact_Staff",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter PR_Fact_Staff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter PR_Fact_Staff').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check FileName Already PR_Fact_Staff",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set FileName PR_Fact_Staff",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINE_FILE_LOG_INSERT]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@variables('vFileNameCurrent')",
												"type": "Expression"
											}
										},
										"Proc": {
											"type": "String",
											"value": {
												"value": "@variables('vLog_PROCNAME')",
												"type": "Expression"
											}
										}
									}
								},
								"dataset": {
									"referenceName": "SQLCheck_FileName",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set FileName PR_Fact_Staff",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFileNameCurrent",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_File_ToSQL PR_Fact_Staff",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check FileName Already PR_Fact_Staff",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Check FileName Already PR_Fact_Staff').output.firstRow.Result",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "LOG No Files PR_Fact_Staff",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": {
														"value": "@concat('Fichero ya procesado: ', variables('vFileNameCurrent'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "1",
													"type": "Int32"
												},
												"STEP": {
													"value": "100",
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy To SQL PR_Fact_Staff",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Log Inicio Copia PR_Fact_Staff",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "/__"
											},
											{
												"name": "Destination",
												"value": "__"
											}
										],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureDataLakeStoreReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlSink",
												"writeBatchSize": 10000,
												"preCopyScript": "TRUNCATE TABLE [PEOPLE_REVIEW].[STG_PR_FACT_STAFF]",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"dataIntegrationUnits": 0,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Data_Load_Date",
															"type": "String"
														},
														"sink": {
															"name": "Data_Load_Date"
														}
													},
													{
														"source": {
															"name": "Period",
															"type": "String"
														},
														"sink": {
															"name": "Period"
														}
													},
													{
														"source": {
															"name": "Data_Source",
															"type": "String"
														},
														"sink": {
															"name": "Data_Source"
														}
													},
													{
														"source": {
															"name": "Employee_ID",
															"type": "String"
														},
														"sink": {
															"name": "Employee_ID"
														}
													},
													{
														"source": {
															"name": "Gender_ID",
															"type": "String"
														},
														"sink": {
															"name": "Gender_ID"
														}
													},
													{
														"source": {
															"name": "Birth_Date",
															"type": "String"
														},
														"sink": {
															"name": "Birth_Date"
														}
													},
													{
														"source": {
															"name": "Position",
															"type": "String"
														},
														"sink": {
															"name": "Position"
														}
													},
													{
														"source": {
															"name": "Prof_Category_ID",
															"type": "String"
														},
														"sink": {
															"name": "Prof_Category_ID"
														}
													},
													{
														"source": {
															"name": "Contract_Type_ID",
															"type": "String"
														},
														"sink": {
															"name": "Contract_Type_ID"
														}
													},
													{
														"source": {
															"name": "Hire_Date",
															"type": "String"
														},
														"sink": {
															"name": "Hire_Date"
														}
													},
													{
														"source": {
															"name": "Employment_Status_ID",
															"type": "String"
														},
														"sink": {
															"name": "Employment_Status_ID"
														}
													},
													{
														"source": {
															"name": "FTE",
															"type": "String"
														},
														"sink": {
															"name": "FTE"
														}
													},
													{
														"source": {
															"name": "Real_Hour",
															"type": "String"
														},
														"sink": {
															"name": "Real_Hour"
														}
													},
													{
														"source": {
															"name": "Theorical_Hour",
															"type": "String"
														},
														"sink": {
															"name": "Theorical_Hour"
														}
													},
													{
														"source": {
															"name": "Leaving_Date",
															"type": "String"
														},
														"sink": {
															"name": "Leaving_Date"
														}
													},
													{
														"source": {
															"name": "Leave_Reason_ID",
															"type": "String"
														},
														"sink": {
															"name": "Leave_Reason_ID"
														}
													},
													{
														"source": {
															"name": "Leave_Type_ID",
															"type": "String"
														},
														"sink": {
															"name": "Leave_Type_ID"
														}
													},
													{
														"source": {
															"name": "International_Assigment",
															"type": "String"
														},
														"sink": {
															"name": "International_Assigment"
														}
													},
													{
														"source": {
															"name": "Type_of_Assigment_ID",
															"type": "String"
														},
														"sink": {
															"name": "International_Assigment_Type_ID"
														}
													},
													{
														"source": {
															"name": "International_Asgm_Start Date",
															"type": "String"
														},
														"sink": {
															"name": "International_Asgm_Start_Date"
														}
													},
													{
														"source": {
															"name": "Home_Country_ID",
															"type": "String"
														},
														"sink": {
															"name": "Home_Country_ID"
														}
													},
													{
														"source": {
															"name": "Host_Country_ID",
															"type": "String"
														},
														"sink": {
															"name": "Host_Country_ID"
														}
													},
													{
														"source": {
															"name": "Destination_Legal_Entity_ID",
															"type": "String"
														},
														"sink": {
															"name": "Destination_Legal_Entity_ID"
														}
													},
													{
														"source": {
															"name": "Active_ID",
															"type": "String"
														},
														"sink": {
															"name": "Active_ID"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "staff",
												"type": "DatasetReference",
												"parameters": {
													"NameFile": {
														"value": "@variables('vFileNameCurrent')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "PR_Fact_Staff_Destination_SQL",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Log OK PR_Fact_Staff",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "File To Processed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": {
														"value": "@concat('Fin del proceso de copia OK: ',string(activity('Copy To SQL PR_Fact_Staff').output))",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "1",
													"type": "Int32"
												},
												"STEP": {
													"value": "100",
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Log KO PR_Fact_Staff",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "File To FailedLoad",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": {
														"value": "@concat('Fin del proceso de copia ERROR: ',string(activity('Copy To SQL PR_Fact_Staff').output))",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "0",
													"type": "Int32"
												},
												"STEP": {
													"value": "100",
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Log Inicio Copia PR_Fact_Staff",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": "Inicio proceso de copia",
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "1",
													"type": "Int32"
												},
												"STEP": {
													"value": "100",
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "PL_FEED__PR_Fact_Staff",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy To SQL PR_Fact_Staff",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[PEOPLE_REVIEW].[PL_FEED_PR_Fact_Staff]"
										},
										"linkedServiceName": {
											"referenceName": "connecttosql",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "File To Processed",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "PL_FEED__PR_Fact_Staff",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_MoveFile",
												"type": "PipelineReference"
											},
											"parameters": {
												"sFolderOrig": "FromsFTP",
												"sFileNameOrig": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												},
												"sFolderDest": "Processed",
												"sFileNameDest": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "File To FailedLoad",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Copy To SQL PR_Fact_Staff",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_MoveFile",
												"type": "PipelineReference"
											},
											"parameters": {
												"sFolderOrig": "FromsFTP",
												"sFileNameOrig": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												},
												"sFolderDest": "FailedLoad",
												"sFileNameDest": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter PR_Fact_Staff",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get NameFile PR_Fact_Staff",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get NameFile PR_Fact_Staff').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(indexof(item().name,'BRIDGE_PRBI_STAFF'),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File To Failed Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach PR_Fact_Staff",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_MoveFile",
						"type": "PipelineReference"
					},
					"parameters": {
						"sFolderOrig": "FromsFTP",
						"sFileNameOrig": {
							"value": "@variables('vFileNameCurrent')",
							"type": "Expression"
						},
						"sFolderDest": "FailedLoad",
						"sFileNameDest": {
							"value": "@variables('vFileNameCurrent')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pLog_AMBIT": {
				"type": "String",
				"defaultValue": "OBRA"
			}
		},
		"variables": {
			"vLog_PROCNAME": {
				"type": "String",
				"defaultValue": "pl_LoadFile_PR_Fact_Staff"
			},
			"vLog_ENTRY": {
				"type": "String",
				"defaultValue": "File_PR_Fact_Staff"
			},
			"vLog_OUT": {
				"type": "String"
			},
			"vFileNameCurrent": {
				"type": "String",
				"defaultValue": "PR_Fact_Staff"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}