pipeline/pl_NEWAMS.json
{
	"name": "pl_NEWAMS",
	"properties": {
		"activities": [
			{
				"name": "Log Inicio NEWAMS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ITC_PIPELINECONTROL_INSERT]",
					"storedProcedureParameters": {
						"AMBIT": {
							"value": {
								"value": "@pipeline().parameters.pLog_AMBIT",
								"type": "Expression"
							},
							"type": "String"
						},
						"ENTRY": {
							"value": {
								"value": "@variables('vLog_ENTRY')",
								"type": "Expression"
							},
							"type": "String"
						},
						"OUT": {
							"value": {
								"value": "@variables('vLog_OUT')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PROCNAME": {
							"value": {
								"value": "@variables('vLog_PROCNAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_DS": {
							"value": "Inicio Pipeline",
							"type": "String"
						},
						"RESULT_OK_KO": {
							"value": "1",
							"type": "Int32"
						},
						"STEP": {
							"value": "100",
							"type": "Int32"
						},
						"ID_PIPELINE": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "connecttosql_ams",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Fin KO NEWAMS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "File To Failed Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ITC_PIPELINECONTROL_INSERT]",
					"storedProcedureParameters": {
						"AMBIT": {
							"value": {
								"value": "@pipeline().parameters.pLog_AMBIT",
								"type": "Expression"
							},
							"type": "String"
						},
						"ENTRY": {
							"value": {
								"value": "@variables('vLog_ENTRY')",
								"type": "Expression"
							},
							"type": "String"
						},
						"OUT": {
							"value": {
								"value": "@variables('vLog_OUT')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PROCNAME": {
							"value": {
								"value": "@variables('vLog_PROCNAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_DS": {
							"value": "Fin Pipeline KO",
							"type": "String"
						},
						"RESULT_OK_KO": {
							"value": "0",
							"type": "Int32"
						},
						"STEP": {
							"value": "110",
							"type": "Int32"
						},
						"ID_PIPELINE": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "connecttosql_ams",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get NameFile NEWAMS",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Log Inicio NEWAMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLake_ListFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Log Fin OK NEWAMS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach NEWAMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ITC_PIPELINECONTROL_INSERT]",
					"storedProcedureParameters": {
						"AMBIT": {
							"value": {
								"value": "@pipeline().parameters.pLog_AMBIT",
								"type": "Expression"
							},
							"type": "String"
						},
						"ENTRY": {
							"value": {
								"value": "@variables('vLog_ENTRY')",
								"type": "Expression"
							},
							"type": "String"
						},
						"OUT": {
							"value": {
								"value": "@variables('vLog_OUT')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PROCNAME": {
							"value": {
								"value": "@variables('vLog_PROCNAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_DS": {
							"value": {
								"value": "@concat('Fin Pipeline OK',if(variables('vEjecucionConErores'),': Finalizado con errores',''))",
								"type": "Expression"
							},
							"type": "String"
						},
						"RESULT_OK_KO": {
							"value": "1",
							"type": "Int32"
						},
						"STEP": {
							"value": "110",
							"type": "Int32"
						},
						"ID_PIPELINE": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "connecttosql_ams",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach NEWAMS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter NEWAMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter NEWAMS').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check FileName Already NEWAMS",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set FileName NEWAMS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[ITC_PIPELINE_FILE_LOG_INSERT]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@variables('vFileNameCurrent')",
												"type": "Expression"
											}
										},
										"ID_Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"Proc": {
											"type": "String",
											"value": {
												"value": "@variables('vLog_PROCNAME')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "SQLCheck_FileName_ams",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set FileName NEWAMS",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFileNameCurrent",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_File_ToSQL NEWAMS",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check FileName Already NEWAMS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Check FileName Already NEWAMS').output.firstRow.Result",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "LOG File Alredy Processed NEWAMS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Move File To Processed File Alredy Processed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[].[ITC_PIPELINECONTROL_INSERT]",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": {
														"value": "@concat('Fichero ya procesado: ', variables('vFileNameCurrent'),', Se mueve a la carpeta Processed')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "1",
													"type": "Int32"
												},
												"STEP": {
													"value": "300",
													"type": "Int32"
												},
												"ID_PIPELINE": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Move File To Processed File Alredy Processed",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_MoveFile",
												"type": "PipelineReference"
											},
											"parameters": {
												"sFolderOrig": "FromsFTP",
												"sFileNameOrig": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												},
												"sFolderDest": "Processed",
												"sFileNameDest": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy To SQL NEWAMS",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Log Inicio Copia NEWAMS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDataLakeStoreSource",
												"recursive": true
											},
											"sink": {
												"type": "SqlSink",
												"writeBatchSize": 10000,
												"preCopyScript": "TRUNCATE TABLE [STG_T_NEWAMS]",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"dataIntegrationUnits": 0,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Prop_0",
															"type": "String"
														},
														"sink": {
															"name": "Opportunity_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_1",
															"type": "String"
														},
														"sink": {
															"name": "Reporting_Status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_2",
															"type": "String"
														},
														"sink": {
															"name": "OG",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_3",
															"type": "String"
														},
														"sink": {
															"name": "OU",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_4",
															"type": "String"
														},
														"sink": {
															"name": "CSG",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_5",
															"type": "String"
														},
														"sink": {
															"name": "Sub_CSG",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_6",
															"type": "String"
														},
														"sink": {
															"name": "Master_Client_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_7",
															"type": "String"
														},
														"sink": {
															"name": "Master_Client_Class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_8",
															"type": "String"
														},
														"sink": {
															"name": "Financial_Customer_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_9",
															"type": "String"
														},
														"sink": {
															"name": "CR_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_10",
															"type": "String"
														},
														"sink": {
															"name": "Opportunity_Name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_11",
															"type": "String"
														},
														"sink": {
															"name": "Industry_Segment",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_12",
															"type": "String"
														},
														"sink": {
															"name": "Industry_Sub_Segment",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_13",
															"type": "String"
														},
														"sink": {
															"name": "Opportunity_Class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_14",
															"type": "String"
														},
														"sink": {
															"name": "Stage",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_15",
															"type": "String"
														},
														"sink": {
															"name": "Restricted",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_16",
															"type": "String"
														},
														"sink": {
															"name": "Win_Probability",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_17",
															"type": "String"
														},
														"sink": {
															"name": "Total_Current_Revenue",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_18",
															"type": "String"
														},
														"sink": {
															"name": "CCI",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_19",
															"type": "String"
														},
														"sink": {
															"name": "CCI1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_20",
															"type": "String"
														},
														"sink": {
															"name": "Target_Margin",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_21",
															"type": "String"
														},
														"sink": {
															"name": "Create_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_22",
															"type": "String"
														},
														"sink": {
															"name": "Stage_Update_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_23",
															"type": "String"
														},
														"sink": {
															"name": "Pipeline_Entry_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_24",
															"type": "String"
														},
														"sink": {
															"name": "Proposal_Submission_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_25",
															"type": "String"
														},
														"sink": {
															"name": "Expected_Contract_Signing_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_26",
															"type": "String"
														},
														"sink": {
															"name": "Status_Since_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_27",
															"type": "String"
														},
														"sink": {
															"name": "Cons_Start_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_28",
															"type": "String"
														},
														"sink": {
															"name": "Cons_End_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_29",
															"type": "String"
														},
														"sink": {
															"name": "OS_Start_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_30",
															"type": "String"
														},
														"sink": {
															"name": "OS_End_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_31",
															"type": "String"
														},
														"sink": {
															"name": "ECSD_Quarter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_32",
															"type": "String"
														},
														"sink": {
															"name": "RSD_Quarter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_33",
															"type": "String"
														},
														"sink": {
															"name": "ToW",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_34",
															"type": "String"
														},
														"sink": {
															"name": "Business_Dimensions",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_35",
															"type": "String"
														},
														"sink": {
															"name": "SG",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_36",
															"type": "String"
														},
														"sink": {
															"name": "Service_Start_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_37",
															"type": "String"
														},
														"sink": {
															"name": "Service_End_Date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_38",
															"type": "String"
														},
														"sink": {
															"name": "SSG",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_39",
															"type": "String"
														},
														"sink": {
															"name": "Opp_Service_Revenue",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_40",
															"type": "String"
														},
														"sink": {
															"name": "Current_Revenue",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_41",
															"type": "String"
														},
														"sink": {
															"name": "Wtd_Current_Revenue",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_42",
															"type": "String"
														},
														"sink": {
															"name": "Target_Price",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_43",
															"type": "String"
														},
														"sink": {
															"name": "CCI2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_44",
															"type": "String"
														},
														"sink": {
															"name": "Total_CCI",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_45",
															"type": "String"
														},
														"sink": {
															"name": "Global_Client_Account_Lead",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_46",
															"type": "String"
														},
														"sink": {
															"name": "Technology_Services_Lead",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_47",
															"type": "String"
														},
														"sink": {
															"name": "Client_Account_Lead",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_48",
															"type": "String"
														},
														"sink": {
															"name": "Sales_Capture_Primary",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_49",
															"type": "String"
														},
														"sink": {
															"name": "Contract_Extension_Flag",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_50",
															"type": "String"
														},
														"sink": {
															"name": "Selling_Country_Location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_51",
															"type": "String"
														},
														"sink": {
															"name": "Geo_Unit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_52",
															"type": "String"
														},
														"sink": {
															"name": "Primary_Work_Location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_53",
															"type": "String"
														},
														"sink": {
															"name": "Delivery_Centers",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_54",
															"type": "String"
														},
														"sink": {
															"name": "Competitor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_55",
															"type": "String"
														},
														"sink": {
															"name": "Winning_Competitor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_56",
															"type": "String"
														},
														"sink": {
															"name": "Reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_57",
															"type": "String"
														},
														"sink": {
															"name": "Competitive_Sole_Source",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_58",
															"type": "String"
														},
														"sink": {
															"name": "Third_Party_Advisor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_59",
															"type": "String"
														},
														"sink": {
															"name": "Digital",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_60",
															"type": "String"
														},
														"sink": {
															"name": "Accenture_Products_Platforms",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_61",
															"type": "String"
														},
														"sink": {
															"name": "Alliances",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_62",
															"type": "String"
														},
														"sink": {
															"name": "Business_Service",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_63",
															"type": "String"
														},
														"sink": {
															"name": "Consulting_Practice",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_64",
															"type": "String"
														},
														"sink": {
															"name": "Cross_Service_Group_Offering",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_65",
															"type": "String"
														},
														"sink": {
															"name": "Mergers_Acquisitions",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_66",
															"type": "String"
														},
														"sink": {
															"name": "Strategy_Offerings",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_67",
															"type": "String"
														},
														"sink": {
															"name": "Tech_Operations_Offerings",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_68",
															"type": "String"
														},
														"sink": {
															"name": "Win_Category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_69",
															"type": "String"
														},
														"sink": {
															"name": "Extension_non_Extension",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_70",
															"type": "String"
														},
														"sink": {
															"name": "Deal_size",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_71",
															"type": "String"
														},
														"sink": {
															"name": "OG_Abbrev",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_72",
															"type": "String"
														},
														"sink": {
															"name": "Geo_Unit1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_73",
															"type": "String"
														},
														"sink": {
															"name": "Country",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_74",
															"type": "String"
														},
														"sink": {
															"name": "Master_Client_Lvl_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_75",
															"type": "String"
														},
														"sink": {
															"name": "New",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_76",
															"type": "String"
														},
														"sink": {
															"name": "New_since_last_week",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_77",
															"type": "String"
														},
														"sink": {
															"name": "New_this_month",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_78",
															"type": "String"
														},
														"sink": {
															"name": "Deal_Volume",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_79",
															"type": "String"
														},
														"sink": {
															"name": "Master_Contract",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_80",
															"type": "String"
														},
														"sink": {
															"name": "Master_Contract_Name_Global",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_81",
															"type": "String"
														},
														"sink": {
															"name": "Valid_from",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_82",
															"type": "String"
														},
														"sink": {
															"name": "Valid_to",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_83",
															"type": "String"
														},
														"sink": {
															"name": "Sales_Sept",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_84",
															"type": "String"
														},
														"sink": {
															"name": "Revenue_Sept",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Prop_85",
															"type": "String"
														},
														"sink": {
															"name": "Contract_CI_Sept",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ds_NEWAMS_Source_Lake",
												"type": "DatasetReference",
												"parameters": {
													"FileName": {
														"value": "@variables('vFileNameCurrent')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_NEWAMS_Destination_SQL",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Log OK NEWAMS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "File To Processed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "ITC_PIPELINECONTROL_INSERT",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": {
														"value": "@concat('Fin del proceso de copia OK: ',string(activity('Copy To SQL NEWAMS').output))",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "1",
													"type": "Int32"
												},
												"STEP": {
													"value": "220",
													"type": "Int32"
												},
												"ID_PIPELINE": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql_ams",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Log KO NEWAMS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Set EjecucionConErrores NEWAMS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "ITC_PIPELINECONTROL_INSERT",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": {
														"value": "@concat('Fin del proceso de copia ERROR: ',string(activity('Copy To SQL NEWAMS').output))",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "0",
													"type": "Int32"
												},
												"STEP": {
													"value": "220",
													"type": "Int32"
												},
												"ID_PIPELINE": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql_ams",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Log Inicio Copia NEWAMS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "ITC_PIPELINECONTROL_INSERT",
											"storedProcedureParameters": {
												"AMBIT": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												},
												"ENTRY": {
													"value": {
														"value": "@variables('vLog_ENTRY')",
														"type": "Expression"
													},
													"type": "String"
												},
												"OUT": {
													"value": {
														"value": "@variables('vLog_OUT')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PROCNAME": {
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"RESULT_DS": {
													"value": "Inicio proceso de copia",
													"type": "String"
												},
												"RESULT_OK_KO": {
													"value": "1",
													"type": "Int32"
												},
												"STEP": {
													"value": "200",
													"type": "Int32"
												},
												"ID_PIPELINE": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql_ams",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "PL_FEED__NEWAMS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy To SQL NEWAMS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[PL_FEED_NEWAMS]",
											"storedProcedureParameters": {
												"ID_PIPELINE": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"AMBITO": {
													"value": {
														"value": "@pipeline().parameters.pLog_AMBIT",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connecttosql_ams",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "File To Processed",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "PL_FEED__NEWAMS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_MoveFile",
												"type": "PipelineReference"
											},
											"parameters": {
												"sFolderOrig": "FromsFTP",
												"sFileNameOrig": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												},
												"sFolderDest": "Processed",
												"sFileNameDest": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "File To FailedLoad",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Copy To SQL NEWAMS",
												"dependencyConditions": [
													"Failed"
												]
											},
											{
												"activity": "PL_FEED__NEWAMS",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_MoveFile",
												"type": "PipelineReference"
											},
											"parameters": {
												"sFolderOrig": "FromsFTP",
												"sFileNameOrig": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												},
												"sFolderDest": "FailedLoad",
												"sFileNameDest": {
													"value": "@variables('vFileNameCurrent')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Set EjecucionConErrores NEWAMS",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "File To FailedLoad",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "vEjecucionConErores",
											"value": true
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter NEWAMS",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get NameFile NEWAMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get NameFile NEWAMS').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(  greaterOrEquals(indexof(item().name,'AMS'),0),  endswith(item().name,'.csv') )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File To Failed Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach NEWAMS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_MoveFile",
						"type": "PipelineReference"
					},
					"parameters": {
						"sFolderOrig": {
							"value": "@concat('FromsFTP')",
							"type": "Expression"
						},
						"sFileNameOrig": {
							"value": "@variables('vFileNameCurrent')",
							"type": "Expression"
						},
						"sFolderDest": {
							"value": "@concat('FailedLoad')",
							"type": "Expression"
						},
						"sFileNameDest": {
							"value": "@variables('vFileNameCurrent')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pLog_AMBIT": {
				"type": "String",
				"defaultValue": "AMS"
			}
		},
		"variables": {
			"vLog_PROCNAME": {
				"type": "String",
				"defaultValue": "pl_NEWAMS"
			},
			"vLog_ENTRY": {
				"type": "String",
				"defaultValue": "File_NEWAMS"
			},
			"vLog_OUT": {
				"type": "String",
				"defaultValue": "[STG_T_NEWAMS]"
			},
			"vFileNameCurrent": {
				"type": "String"
			},
			"vEjecucionConErores": {
				"type": "Boolean"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}