pipelines/templates/PL_MOVE_FILES_TEMPLATE/PL_MOVE_FILES_TEMPLATE.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"AzureDataLakeStore1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_MOVE_FILES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteActivity",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FILE_REFERENCE",
								"type": "DatasetReference",
								"parameters": {
									"sDS_FileName": {
										"value": "@pipeline().parameters.sFileName",
										"type": "Expression"
									},
									"sDS_FolderName": {
										"value": "@pipeline().parameters.sFolderOrigin",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"maxConcurrentConnections": 1
						}
					},
					{
						"name": "Copy Data1",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": false
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_FILE_REFERENCE",
								"type": "DatasetReference",
								"parameters": {
									"sDS_FileName": {
										"value": "@pipeline().parameters.sFileName",
										"type": "Expression"
									},
									"sDS_FolderName": {
										"value": "@pipeline().parameters.sFolderOrigin",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_FILE_REFERENCE",
								"type": "DatasetReference",
								"parameters": {
									"sDS_FileName": {
										"value": "@pipeline().parameters.sFileName",
										"type": "Expression"
									},
									"sDS_FolderName": {
										"value": "@pipeline().parameters.sFolderDest",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"sFileName": {
						"type": "String"
					},
					"sFolderOrigin": {
						"type": "String"
					},
					"sFolderDest": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FILE_REFERENCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FILE_REFERENCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStore1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sDS_FileName": {
						"type": "String"
					},
					"sDS_FolderName": {
						"type": "String"
					}
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@dataset().sDS_FileName",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().sDS_FolderName",
						"type": "Expression"
					}
				}
			}
		}
	]
}