datafactorytest-jdmb/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactorytest-jdmb"
		},
		"AzureDataLakeStorageGen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageGen2'"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"connecttosql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'connecttosql'"
		},
		"AzureDataLakeStorageGen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://jdbmdatalakegen2.dfs.core.windows.net"
		},
		"OData1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://services.odata.org/V3/Northwind/Northwind.svc"
		},
		"connecttodatalake_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://pruebaspipelines.azuredatalakestore.net/webhdfs/v1"
		},
		"connecttodatalake_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "cf36141c-ddd7-45a7-b073-111f66d0b30c"
		},
		"connecttodatalake_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "af366761-7221-4663-a2ea-a9919ab7f12f"
		},
		"connecttodatalake_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "test-jdmb"
		},
		"DS_FileReference_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().sFileName"
		},
		"DS_FileReference_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().sFolderName"
		},
		"DataLake_ListFiles_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"DataLake_ListFiles_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "FromsFTP"
		},
		"PR_Fact_Staff_Source_Lake_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().NameFile"
		},
		"PR_Fact_Staff_Source_Lake_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "FromsFTP"
		},
		"triggerEvent_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/af366761-7221-4663-a2ea-a9919ab7f12f/resourceGroups/test-jdmb/providers/Microsoft.Storage/storageAccounts/jdbmdatalakegen2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageGen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageGen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://testfunctiondecript2.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OData1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('OData1_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/connecttodatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('connecttodatalake_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('connecttodatalake_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('connecttodatalake_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('connecttodatalake_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/connecttosql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('connecttosql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeJokoTest')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLiveInMinutes": 60
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_azureFunction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "PGPDecrypt",
							"method": "POST",
							"headers": {},
							"body": {
								"privateKeySecretId": "uno",
								"passPhraseSecretId": "dos"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "origen",
						"fileSystem": "containertest"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "destino",
						"fileSystem": "containertest"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileReference')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttodatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sFolderName": {
						"type": "String"
					},
					"sFileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('DS_FileReference_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('DS_FileReference_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttodatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLake_ListFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttodatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DataLake_ListFiles_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DataLake_ListFiles_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttodatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PR_Fact_Staff_Destination_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttosql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Data_Load_Date",
						"type": "String"
					},
					{
						"name": "Period",
						"type": "String"
					},
					{
						"name": "Data_Source",
						"type": "String"
					},
					{
						"name": "Employee_ID",
						"type": "String"
					},
					{
						"name": "Gender_ID",
						"type": "String"
					},
					{
						"name": "Birth_Date",
						"type": "String"
					},
					{
						"name": "Position",
						"type": "String"
					},
					{
						"name": "Prof_Category_ID",
						"type": "String"
					},
					{
						"name": "Contract_Type_ID",
						"type": "String"
					},
					{
						"name": "Hire_Date",
						"type": "String"
					},
					{
						"name": "Employment_Status_ID",
						"type": "String"
					},
					{
						"name": "FTE",
						"type": "Decimal"
					},
					{
						"name": "Real_Hour",
						"type": "Decimal"
					},
					{
						"name": "Theorical_Hour",
						"type": "Decimal"
					},
					{
						"name": "Leaving_Date",
						"type": "String"
					},
					{
						"name": "Leave_Reason_ID",
						"type": "String"
					},
					{
						"name": "Leave_Type_ID",
						"type": "String"
					},
					{
						"name": "International_Assigment",
						"type": "String"
					},
					{
						"name": "International_Assigment_Type_ID",
						"type": "String"
					},
					{
						"name": "International_Asgm_Start_Date",
						"type": "String"
					},
					{
						"name": "Home_Country_ID",
						"type": "String"
					},
					{
						"name": "Host_Country_ID",
						"type": "String"
					},
					{
						"name": "Destination_Legal_Entity_ID",
						"type": "String"
					},
					{
						"name": "Active_ID",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[PEOPLE_REVIEW].[STG_PR_Fact_Staff]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttosql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PR_Fact_Staff_Source_Lake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttodatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"NameFile": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "Data_Load_Date",
						"type": "String"
					},
					{
						"name": "Period",
						"type": "String"
					},
					{
						"name": "Data_Source",
						"type": "String"
					},
					{
						"name": "Employee_ID",
						"type": "String"
					},
					{
						"name": "Gender_ID",
						"type": "String"
					},
					{
						"name": "Birth_Date",
						"type": "String"
					},
					{
						"name": "Position",
						"type": "String"
					},
					{
						"name": "Prof_Category_ID",
						"type": "String"
					},
					{
						"name": "Contract_Type_ID",
						"type": "String"
					},
					{
						"name": "Hire_Date",
						"type": "String"
					},
					{
						"name": "Employment_Status_ID",
						"type": "String"
					},
					{
						"name": "FTE",
						"type": "Decimal"
					},
					{
						"name": "Real_Hour",
						"type": "Decimal"
					},
					{
						"name": "Theorical_Hour",
						"type": "Decimal"
					},
					{
						"name": "Leaving_Date",
						"type": "String"
					},
					{
						"name": "Leave_Reason_ID",
						"type": "String"
					},
					{
						"name": "Leave_Type_ID",
						"type": "String"
					},
					{
						"name": "International_Assigment",
						"type": "String"
					},
					{
						"name": "International_Assigment_Type_ID",
						"type": "String"
					},
					{
						"name": "International_Asgm_Start_Date",
						"type": "String"
					},
					{
						"name": "Home_Country_ID",
						"type": "String"
					},
					{
						"name": "Host_Country_ID",
						"type": "String"
					},
					{
						"name": "Destination_Legal_Entity_ID",
						"type": "String"
					},
					{
						"name": "Active_ID",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('PR_Fact_Staff_Source_Lake_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('PR_Fact_Staff_Source_Lake_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttodatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLCheck_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttosql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "PEOPLE_REVIEW",
					"table": "ITC_PIPELINECONTROL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttosql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_events')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Binary1')]",
				"[concat(variables('factoryId'), '/datasets/Binary2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_MoveFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete File",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileReference",
								"type": "DatasetReference",
								"parameters": {
									"sFolderName": {
										"value": "@pipeline().parameters.sFolderOrig",
										"type": "Expression"
									},
									"sFileName": {
										"value": "@pipeline().parameters.sFileNameOrig",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"maxConcurrentConnections": 1
						}
					},
					{
						"name": "Copy File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": false
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_FileReference",
								"type": "DatasetReference",
								"parameters": {
									"sFolderName": {
										"value": "@pipeline().parameters.sFolderOrig",
										"type": "Expression"
									},
									"sFileName": {
										"value": "@pipeline().parameters.sFileNameOrig",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_FileReference",
								"type": "DatasetReference",
								"parameters": {
									"sFolderName": {
										"value": "@pipeline().parameters.sFolderDest",
										"type": "Expression"
									},
									"sFileName": {
										"value": "@pipeline().parameters.sFileNameDest",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"sFolderOrig": {
						"type": "String"
					},
					"sFileNameOrig": {
						"type": "String"
					},
					"sFolderDest": {
						"type": "String"
					},
					"sFileNameDest": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileReference')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_LoadFile_PR_Fact_Staff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Log Inicio PR_Fact_Staff",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
							"storedProcedureParameters": {
								"AMBIT": {
									"value": {
										"value": "@pipeline().parameters.pLog_AMBIT",
										"type": "Expression"
									},
									"type": "String"
								},
								"ENTRY": {
									"value": {
										"value": "@variables('vLog_ENTRY')",
										"type": "Expression"
									},
									"type": "String"
								},
								"OUT": {
									"value": {
										"value": "@variables('vLog_OUT')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PROCNAME": {
									"value": {
										"value": "@variables('vLog_PROCNAME')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RESULT_DS": {
									"value": "Inicio Pipeline",
									"type": "String"
								},
								"RESULT_OK_KO": {
									"value": "1",
									"type": "Int32"
								},
								"STEP": {
									"value": "100",
									"type": "Int32"
								},
								"ID_PIPELINE": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "connecttosql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Fin KO PR_Fact_Staff",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File To Failed Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
							"storedProcedureParameters": {
								"AMBIT": {
									"value": {
										"value": "@pipeline().parameters.pLog_AMBIT",
										"type": "Expression"
									},
									"type": "String"
								},
								"ENTRY": {
									"value": {
										"value": "@variables('vLog_ENTRY')",
										"type": "Expression"
									},
									"type": "String"
								},
								"OUT": {
									"value": {
										"value": "@variables('vLog_OUT')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PROCNAME": {
									"value": {
										"value": "@variables('vLog_PROCNAME')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RESULT_DS": {
									"value": "Fin Pipeline KO",
									"type": "String"
								},
								"RESULT_OK_KO": {
									"value": "0",
									"type": "Int32"
								},
								"STEP": {
									"value": "110",
									"type": "Int32"
								},
								"ID_PIPELINE": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "connecttosql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get NameFile PR_Fact_Staff",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Log Inicio PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DataLake_ListFiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "Log Fin OK PR_Fact_Staff",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
							"storedProcedureParameters": {
								"AMBIT": {
									"value": {
										"value": "@pipeline().parameters.pLog_AMBIT",
										"type": "Expression"
									},
									"type": "String"
								},
								"ENTRY": {
									"value": {
										"value": "@variables('vLog_ENTRY')",
										"type": "Expression"
									},
									"type": "String"
								},
								"OUT": {
									"value": {
										"value": "@variables('vLog_OUT')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PROCNAME": {
									"value": {
										"value": "@variables('vLog_PROCNAME')",
										"type": "Expression"
									},
									"type": "String"
								},
								"RESULT_DS": {
									"value": "Fin Pipeline OK",
									"type": "String"
								},
								"RESULT_OK_KO": {
									"value": "1",
									"type": "Int32"
								},
								"STEP": {
									"value": "110",
									"type": "Int32"
								},
								"ID_PIPELINE": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "connecttosql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEach PR_Fact_Staff",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter PR_Fact_Staff').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Check FileName Already PR_Fact_Staff",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set FileName PR_Fact_Staff",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderStoredProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINE_FILE_LOG_INSERT]",
											"storedProcedureParameters": {
												"FileName": {
													"type": "String",
													"value": {
														"value": "@variables('vFileNameCurrent')",
														"type": "Expression"
													}
												},
												"Proc": {
													"type": "String",
													"value": {
														"value": "@variables('vLog_PROCNAME')",
														"type": "Expression"
													}
												},
												"ID_PIPELINE": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											}
										},
										"dataset": {
											"referenceName": "SQLCheck_FileName",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set FileName PR_Fact_Staff",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFileNameCurrent",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy_File_ToSQL PR_Fact_Staff",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Check FileName Already PR_Fact_Staff",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('Check FileName Already PR_Fact_Staff').output.firstRow.Result",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "LOG File Alredy Processed PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": {
																"value": "@concat('Fichero ya procesado: ', variables('vFileNameCurrent'),', Se mueve a la carpeta Processed')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "1",
															"type": "Int32"
														},
														"STEP": {
															"value": "300",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Move File To Processed File Alredy Processed",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_MoveFile",
														"type": "PipelineReference"
													},
													"parameters": {
														"sFolderOrig": "FromsFTP",
														"sFileNameOrig": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														},
														"sFolderDest": "Processed",
														"sFileNameDest": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy To SQL PR_Fact_Staff",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Log Inicio Copia PR_Fact_Staff",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "/__"
													},
													{
														"name": "Destination",
														"value": "__"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureDataLakeStoreSource",
														"recursive": true
													},
													"sink": {
														"type": "SqlSink",
														"writeBatchSize": 10000,
														"preCopyScript": "TRUNCATE TABLE [PEOPLE_REVIEW].[PR_Fact_Staff]",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"dataIntegrationUnits": 0,
													"translator": {
														"type": "TabularTranslator",
														"columnMappings": {
															"Data_Load_Date": "Data_Load_Date",
															"Period": "Period",
															"Data_Source": "Data_Source",
															"Employee_ID": "Employee_ID",
															"Gender_ID": "Gender_ID",
															"Birth_Date": "Birth_Date",
															"Position": "Position",
															"Prof_Category_ID": "Prof_Category_ID",
															"Contract_Type_ID": "Contract_Type_ID",
															"Hire_Date": "Hire_Date",
															"Employment_Status_ID": "Employment_Status_ID",
															"FTE": "FTE",
															"Real_Hour": "Real_Hour",
															"Theorical_Hour": "Theorical_Hour",
															"Leaving_Date": "Leaving_Date",
															"Leave_Reason_ID": "Leave_Reason_ID",
															"Leave_Type_ID": "Leave_Type_ID",
															"International_Assigment": "International_Assigment",
															"International_Assigment_Type_ID": "International_Assigment_Type_ID",
															"International_Asgm_Start_Date": "International_Asgm_Start_Date",
															"Home_Country_ID": "Home_Country_ID",
															"Host_Country_ID": "Host_Country_ID",
															"Destination_Legal_Entity_ID": "Destination_Legal_Entity_ID",
															"Active_ID": "Active_ID"
														}
													}
												},
												"inputs": [
													{
														"referenceName": "PR_Fact_Staff_Source_Lake",
														"type": "DatasetReference",
														"parameters": {
															"NameFile": {
																"value": "@variables('vFileNameCurrent')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "PR_Fact_Staff_Destination_SQL",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "Log OK PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "File To Processed",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": {
																"value": "@concat('Fin del proceso de copia OK: ',string(activity('Copy To SQL PR_Fact_Staff').output))",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "1",
															"type": "Int32"
														},
														"STEP": {
															"value": "220",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Log KO PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "File To FailedLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": {
																"value": "@concat('Fin del proceso de copia ERROR: ',string(activity('Copy To SQL PR_Fact_Staff').output))",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "0",
															"type": "Int32"
														},
														"STEP": {
															"value": "220",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Log Inicio Copia PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[ITC_PIPELINECONTROL_INSERT]",
													"storedProcedureParameters": {
														"AMBIT": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														},
														"ENTRY": {
															"value": {
																"value": "@variables('vLog_ENTRY')",
																"type": "Expression"
															},
															"type": "String"
														},
														"OUT": {
															"value": {
																"value": "@variables('vLog_OUT')",
																"type": "Expression"
															},
															"type": "String"
														},
														"PROCNAME": {
															"value": {
																"value": "@variables('vLog_PROCNAME')",
																"type": "Expression"
															},
															"type": "String"
														},
														"RESULT_DS": {
															"value": "Inicio proceso de copia",
															"type": "String"
														},
														"RESULT_OK_KO": {
															"value": "1",
															"type": "Int32"
														},
														"STEP": {
															"value": "200",
															"type": "Int32"
														},
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "PL_FEED__PR_Fact_Staff",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy To SQL PR_Fact_Staff",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[PEOPLE_REVIEW].[PL_FEED_PR_Fact_Staff]",
													"storedProcedureParameters": {
														"ID_PIPELINE": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"AMBITO": {
															"value": {
																"value": "@pipeline().parameters.pLog_AMBIT",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "connecttosql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "File To Processed",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "PL_FEED__PR_Fact_Staff",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_MoveFile",
														"type": "PipelineReference"
													},
													"parameters": {
														"sFolderOrig": "FromsFTP",
														"sFileNameOrig": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														},
														"sFolderDest": "Processed",
														"sFileNameDest": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "File To FailedLoad",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Copy To SQL PR_Fact_Staff",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_MoveFile",
														"type": "PipelineReference"
													},
													"parameters": {
														"sFolderOrig": "FromsFTP",
														"sFileNameOrig": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														},
														"sFolderDest": "FailedLoad",
														"sFileNameDest": {
															"value": "@variables('vFileNameCurrent')",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Filter PR_Fact_Staff",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get NameFile PR_Fact_Staff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get NameFile PR_Fact_Staff').output.childitems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(greaterOrEquals(indexof(item().name,'BRIDGE_PRBI_STAFF'),0),endswith(item().name,'.TXT')) ",
								"type": "Expression"
							}
						}
					},
					{
						"name": "File To Failed Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach PR_Fact_Staff",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_MoveFile",
								"type": "PipelineReference"
							},
							"parameters": {
								"sFolderOrig": "FromsFTP",
								"sFileNameOrig": {
									"value": "@variables('vFileNameCurrent')",
									"type": "Expression"
								},
								"sFolderDest": "FailedLoad",
								"sFileNameDest": {
									"value": "@variables('vFileNameCurrent')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"pLog_AMBIT": {
						"type": "String",
						"defaultValue": "OBRA"
					}
				},
				"variables": {
					"vLog_PROCNAME": {
						"type": "String",
						"defaultValue": "pl_LoadFile_PR_Fact_Staff"
					},
					"vLog_ENTRY": {
						"type": "String",
						"defaultValue": "File_PR_Fact_Staff"
					},
					"vLog_OUT": {
						"type": "String"
					},
					"vFileNameCurrent": {
						"type": "String",
						"defaultValue": "PR_Fact_Staff"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttosql')]",
				"[concat(variables('factoryId'), '/datasets/DataLake_ListFiles')]",
				"[concat(variables('factoryId'), '/pipelines/pl_MoveFile')]",
				"[concat(variables('factoryId'), '/datasets/SQLCheck_FileName')]",
				"[concat(variables('factoryId'), '/datasets/PR_Fact_Staff_Source_Lake')]",
				"[concat(variables('factoryId'), '/datasets/PR_Fact_Staff_Destination_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerEvent')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "test_events",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/containertest/blobs/origen/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerEvent_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/test_events')]"
			]
		}
	]
}