datafactorytest-jdmb/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactorytest-jdmb"
		},
		"connecttosql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'connecttosql'"
		},
		"OData1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://services.odata.org/V3/Northwind/Northwind.svc"
		},
		"connecttodatalake_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://pruebaspipelines.azuredatalakestore.net/webhdfs/v1"
		},
		"connecttodatalake_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "cf36141c-ddd7-45a7-b073-111f66d0b30c"
		},
		"connecttodatalake_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "af366761-7221-4663-a2ea-a9919ab7f12f"
		},
		"connecttodatalake_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "test-jdmb"
		},
		"DS_FileReference_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().sFileName"
		},
		"DS_FileReference_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().sFolderName"
		},
		"DataLake_ListFiles_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"DataLake_ListFiles_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "FromsFTP"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/OData1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('OData1_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/connecttodatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('connecttodatalake_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('connecttodatalake_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('connecttodatalake_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('connecttodatalake_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/connecttosql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('connecttosql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeJokoTest')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLiveInMinutes": 60
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileReference')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttodatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sFolderName": {
						"type": "String"
					},
					"sFileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('DS_FileReference_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('DS_FileReference_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttodatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLake_ListFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttodatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DataLake_ListFiles_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DataLake_ListFiles_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttodatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLCheck_FileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "connecttosql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "PEOPLE_REVIEW",
					"table": "ITC_PIPELINECONTROL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/connecttosql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_MoveFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete File",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileReference",
								"type": "DatasetReference",
								"parameters": {
									"sFolderName": {
										"value": "@pipeline().parameters.sFolderOrig",
										"type": "Expression"
									},
									"sFileName": {
										"value": "@pipeline().parameters.sFileNameOrig",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"maxConcurrentConnections": 1
						}
					},
					{
						"name": "Copy File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": false
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_FileReference",
								"type": "DatasetReference",
								"parameters": {
									"sFolderName": {
										"value": "@pipeline().parameters.sFolderOrig",
										"type": "Expression"
									},
									"sFileName": {
										"value": "@pipeline().parameters.sFileNameOrig",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_FileReference",
								"type": "DatasetReference",
								"parameters": {
									"sFolderName": {
										"value": "@pipeline().parameters.sFolderDest",
										"type": "Expression"
									},
									"sFileName": {
										"value": "@pipeline().parameters.sFileNameDest",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"sFolderOrig": {
						"type": "String"
					},
					"sFileNameOrig": {
						"type": "String"
					},
					"sFolderDest": {
						"type": "String"
					},
					"sFileNameDest": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_FileReference')]"
			]
		}
	]
}